<div class="p-5">
  <h3><%= I18n.t('subjects') %> > <%= @subject.name%></h3>
  <hr/>
  <h4><%= I18n.t('basic_info') %></h4>
  <div class="px-5">
    <h5><%= I18n.t('name') %>: <%= @subject.name %></h5>
  </div>

  <hr/>
  <h4><%= I18n.t('score_types') %></h4>
  <a href='/admin/subjects/<%=@subject.id%>/score_types/new'><button class='btn btn-outline-success'>+</button></a>
  <table class="table caption-top">
    <thead>
      <tr>
        <th scope="col"><%= I18n.t('no_') %></th>
        <th scope="col"><%= I18n.t('score_type.name') %></th>
        <th scope="col"><%= I18n.t('score_type.importance') %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @score_types.each do |score_type| %>
        <tr>
          <th scope="row"><%= score_type.id %></th>
          <th><%= score_type.name %></th>
          <th><%= score_type.importance %></th>
          <td class="d-flex justify-content-end">
            <a href='/admin/subjects/<%= @subject.id %>/score_types/<%=score_type.id%>/edit'><i class="mx-1 far fa-edit"></i></a>
            <a href='/admin/subjects/<%= @subject.id %>/score_types/<%=score_type.id%>' data-method="DELETE" onclick="if (confirm('Delete selected item?')){return true;}else{event.stopPropagation(); event.preventDefault();};"><i class="mx-1 fas fa-trash-alt"></i></a>
          </td>
        </tr>
      <% end %>
        <tr>
          <th scope="row"></th>
          <th>TB</th>
          <th><%= I18n.t('auto_calc') %></th>
          
        </tr>
    </tbody>
  </table>
  <hr/>
  <h4><%= I18n.t('lo') %></h4>
  <a href='/admin/subjects/<%=@subject.id%>/learning_outcomes/new'><button class='btn btn-outline-success'>+</button></a>
  <%=
    render 'layouts/table',
    data: @lo,
    columns: ['name', 'title'],
    action: ['show'],
    link: "admin/subjects/#{@subject.id}/learning_outcomes"
  %>
</div>

