<div class='p-5'>
  <h3><%= I18n.t('original_classes') %> > <%= I18n.t('list') %></h3>
  <hr/>
  <a href='/admin/original_classes/new'><button class='btn btn-outline-success'>+</button></a>
  <table class="table caption-top">
    <thead>
      <tr>
        <th scope="col"><%= I18n.t('no_') %></th>
        <th scope="col"><%= I18n.t('original_class.name') %></th>
        <th scope="col"><%= I18n.t('original_class.code') %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @original_classes.each do |original_class| %>
        <tr>
          <th scope="row"><%= original_class.id %></th>
          <th><%= original_class.name %></th>
          <th><%= original_class.code %></th>
          <td class="d-flex justify-content-end">
            <% unless current_user.admin? %>
              <a href='/admin/original_classes/<%=original_class.id%>'><i class="mx-1 fas fa-angle-double-right"></i></a>
            <% end %>
            <a href='/admin/original_classes/<%=original_class.id%>/edit'><i class="mx-1 far fa-edit"></i></a>
            <a href='/admin/original_classes/<%=original_class.id%>' data-method="DELETE" onclick="if (confirm('Delete selected item?')){return true;}else{event.stopPropagation(); event.preventDefault();};"><i class="mx-1 fas fa-trash-alt"></i></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
