<script>
  $(document).ready(function() {
    $('.js-example-basic-single').select2();
  });
</script>
<div class="field form-group mt-2">
  <label><%=I18n.t(label)%><span class="text-danger">*</span></label><br/>
  <select name="<%= name %>" class="form-select js-example-basic-single">
    <% list.each do |data| %>
      <% if data.class == Hash %>
        <option value="<%= data[:id] %>" ><%=data[:name]%></option>
      <% else %>
        <option value="<%= data[:id] %>" ><%=data.send('name')%></option>
      <% end %>
    <% end %>
  </select>
</div>