<%= form_for ([:admin, section_class]) do |form| %>
  <% if section_class.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% section_class.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group mt-2">
    <label><%=I18n.t('subjects')%><span class="text-danger">*</span></label><br/>
    <select name="section_class[subject_id]" id="user_subject" class="form-select">
      <option value="0"><%=I18n.t('select_required')%></option>
      <% Subject.all.each do |subject| %>
        <option value="<%= subject.id %>" ><%=subject.name%></option>
      <% end %>
    </select>
  </div>

  <div class="field form-group mt-2">
    <label><%=I18n.t('section_class.code')%><span class="text-danger">*</span></label>
    <%= form.text_field :code, class:"form-control" %>
  </div>

  <div class="actions mt-2">
    <button type="submit" class="btn btn-success">Submit</button>
    <a href="/admin/original_classes"><button type="submit" class="btn btn-primary">Back</button></a>
  </div>
<% end %>