<div class='p-5'>
  <h3><%= I18n.t('section_classes') %> > <%= I18n.t('list') %></h3>
  <hr/>
  <a href='/admin/section_classes/new'><button class='btn btn-outline-success'>+</button></a>
  <table class="table caption-top">
    <thead>
      <tr>
        <th scope="col"><%= I18n.t('no_') %></th>
        <th scope="col"><%= I18n.t('subject.name') %></th>
        <th scope="col"><%= I18n.t('section_class.code') %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @section_classes.each do |section_class| %>
        <tr>
          <th scope="row"><%= section_class.id %></th>
          <th><%= section_class.subject.name %></th>
          <th><%= section_class.code %></th>
          <td class="d-flex justify-content-end">
            <a href='/admin/section_classes/<%=section_class.id%>'><i class="mx-1 fas fa-angle-double-right"></i></a>
            <a href='/admin/section_classes/<%=section_class.id%>/edit'><i class="mx-1 far fa-edit"></i></a>
            <a href='/admin/section_classes/<%=section_class.id%>' data-method="DELETE" onclick="if (confirm('Delete selected item?')){return true;}else{event.stopPropagation(); event.preventDefault();};"><i class="mx-1 fas fa-trash-alt"></i></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>