<div class="p-5">
  <h3><%= I18n.t('section_classes') %> > <%= @class.code %></h3>

  <hr/>
  <h4><%= I18n.t('score_boards') %></h4>
  <a href='/admin/section_classes/<%=@class.id%>/scores/new'><button class='btn btn-outline-success'>+</button></a>
  <%= render 'layouts/table',
      data: @scores,
      columns: ['id', 'user_name', 'misson'],
      action: ['delete'],
      link: "admin/section_classes/#{@class.id}/permissions"
  %>
  
  <hr/>
  <h4><%= I18n.t('students') %></h4>
  <a href='/admin/section_classes/<%=@class.id%>/student_class/new'><button class='btn btn-outline-success'>+</button></a>


  <%= render 'layouts/table',
      data: @students,
      columns: ['id', 'name'],
      action: ['delete'],
      link: "admin/section_classes/#{@class.id}/student_class"
  %>
</div>