<div class="p-5">
  <h3><%= I18n.t('section_classes') %> > <%= @class.code %></h3>

  <hr/>
  <h4><%= I18n.t('score_boards') %></h4>
  <a href='/lecturer/section_classes/<%=@class.id%>/score_boards/new'><button class='btn btn-outline-success'>+</button></a>
  <a href='/lecturer/section_classes/<%=@class.id%>/export' data-method='POST'><button class='btn btn-outline-success'><%= I18n.t('export') %></button></a>
  <table class="table caption-top">
    <thead> 
      <tr>
          <th scope="col"><%= I18n.t('student_name')%></th>
          <th scope="col"><%= I18n.t('student_code')%></th>
          <% @score_types.each do |type| %>
          <th scope="col"><%= type %></th>
          <% end %>
      </tr>
    </thead>
    <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%=student.name%></td>
            <td><%=student.code%></td>
            <% @score_types.each do |type| %>
              <%if type != 'TB'%>
                <td><form action='/lecturer/update_score'>
                  <input type='hidden' name='name' value='<%=  type %>'>
                  <input type='hidden' name='student_id' value='<%=  student.id %>'>
                  <input type='hidden' name='class_id' value='<%=  @class.id %>'>
                   <input type='hidden' name='subject_id' value='<%=  @class.subject_id %>'>
                  <input type='number' name='score' class='input-score' value='<%= student.get_score(@class.subject_id, type) %>' min=0 max=10 step=0.01>
                </form></td>
              <%else%>
                <td scope="col"><%= student.get_score(@class.subject_id, type) %></td>
              <%end%>
              
            <% end %>
          </tr>
        <% end %>
    </tbody>
  </table>
  <hr/>
</div>
