<div class='p-5'>
  <h3><%= I18n.t('subjects') %> > <%= I18n.t('list') %></h3>
  <hr/>
  <a href='/lecturer/subjects/new'><button class='btn btn-outline-success'>+</button></a>
  <table class="table caption-top">
    <thead>
      <tr>
        <th scope="col"><%= I18n.t('no_') %></th>
        <th scope="col"><%= I18n.t('subject.name') %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @subjects.each do |subject| %>
        <tr>
          <th scope="row"><%= subject.id %></th>
          <th><%= subject.name %></th>
          <td class="d-flex justify-content-end">
            <a href='/lecturer/subjects/<%=subject.id%>'><i class="mx-1 fas fa-angle-double-right"></i></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
