<%= form_for ([:admin, user]) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <%= pluralize(user.errors.count, "error") %> prohibited this book from being saved:
      <ul>
        <% user.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group mt-2">
    <label>Email<span class="text-danger">*</span></label>
    <%= form.email_field :email, class:"form-control" %>
  </div>
  <div class="field form-group mt-2">
    <label><%=I18n.t('first_name')%><span class="text-danger">*</span></label>
    <%= form.text_field :first_name, class:"form-control" %>
  </div>
  <div class="field form-group mt-2">
    <label><%=I18n.t('last_name')%><span class="text-danger">*</span></label>
    <%= form.text_field :last_name, class:"form-control" %>
  </div>
  <div class="field form-group mt-2">
    <label><%=I18n.t('lecturer_code')%><span class="text-danger">*</span></label>
    <%= form.text_field :code, class:"form-control" %>
  </div>
  <div class="field form-group mt-2">
    <label><%=I18n.t('phone')%></label>
    <%= form.text_field :phone, class:"form-control" %>
  </div>
  <div class="field form-group mt-2">
    <label><%=I18n.t('role')%><span class="text-danger">*</span></label><br/>
    <select name="user[role]" id="user_role" class="form-select">
      <option value="lecturer">Lecturer</option>
      <option value="admin" <%= 'selected' if user.admin?%>>Admin</option>
    </select>
  </div>

  <div class="field form-group mt-2">
    <label><%=I18n.t('language')%><span class="text-danger">*</span></label><br/>
    <select name="user[locale]" id="user_role" class="form-select">
      <option value="vi"><%=I18n.t('vietnamese')%></option>
      <option value="en" <%= 'selected' if user.locale == 'en'%>><%=I18n.t('english')%></option>
    </select>
  </div>

  <div class="actions mt-2">
    <button type="submit" class="btn btn-success">Submit</button>
    <a href="/admin/users"><button type="submit" class="btn btn-primary">Back</button></a>
  </div>
<% end %>