<div class="left p-3 m-3 bg-white rounded" style='margin-right: 0px !important'>
  <h2><%= I18n.t('manager') %></h2>
  <ul>
    <li><a href='/admin/users'><%= I18n.t('user.users')%></a></li>
    <li><a href='/admin/subjects'><%= I18n.t('subjects')%></a></li>
    <li><a href='/admin/original_classes'><%= I18n.t('original_classes')%></a></li>
    <li><a href='/admin/students'><%= I18n.t('students')%></a></li>
    <li><a href='/admin/section_classes'><%= I18n.t('section_classes')%></a></li>
  </ul>
</div>